.container{
    /* background-color: red; */
    /* border: 10px solid black; */
    margin: 20px;
}
.barra{
    background-color: #d85757;
    margin-bottom: 20px;
    border: 0 solid;
    border-radius: 10px 0px 0px 10px;
    padding: 10px 20px 10px 20px;
    color: antiquewhite;
}
.botonSearch{
    border: 0 solid;
    border-radius: 0px 10px 10px 0px;
    padding: 10px 12px 10px 12px;
    background-color: #8a4141;
    color: antiquewhite;
}
.botonSearch:hover{
    cursor: pointer;
}
.contCreate{
    display: flex;
    justify-content: end;
    align-items: center;
}
.butonCreate{
    border: 0 solid;
    border-radius: 3px;
    padding: 4px 8px 4px 8px;
    cursor: pointer;
    background-color: #8a4141;
    color: antiquewhite;
}
.butonCreate:hover{
    animation: efectico 3s linear infinite;
}
.ayuBuscador{
    background-color: #a76262;
    margin: 5px;
    width: 300px;
    height: 30px;
    border: 0 solid;
    border-radius: 10px;
    color: antiquewhite;
    box-shadow:1px 0px 2px 3px #dfa3a3;
    cursor: pointer;
}
.ayuBuscador:hover{
    animation: tresde 0.5s forwards;
}
.contAyu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@keyframes efectico{
    0%{
        background-color: #8a4141;
        color: antiquewhite; 
    }
    50%{
        background-color: #dfcaca;
        color: rgb(86, 78, 68);
    }
    100%{
        background-color: #8a4141;
        color: antiquewhite; 
    }
}
@keyframes tresde{
    form{
       box-shadow:1px 0px 2px 3px #dfa3a3;
    }
    to{
       box-shadow:1px 0px 2px 3px rgb(85, 85, 85);
    }
  }