
.sucsess{
    border: 3px solid #dfa3a3;
    padding: 10px 40px 10px 40px;
    border-radius: 10px;
    font-size: 15px;
}
.error{
    border:3px solid red;
    padding: 10px 40px 10px 40px;
    border-radius: 10px;
    font-size: 15px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.compMap{
    background-color: #df7878;
    border: 0px solid;
    margin: 25px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: antiquewhite;
}
.compMapbuton{
    background-color: #e7cfcf;
    border: 0 solid;
    border-radius: 7px;
    margin: 5px;
    cursor: pointer;
    box-shadow:1px 0px 1px 1px gray;
}
.select{
    border: 0 solid;
    padding: 7px 40px 7px 40px;
    border-radius: 10px;
}
.boton{
    background-color: #733535;
    border: 0 solid;
    border-radius: 10px;
    padding: 5px 40px 5px 40px;
    margin: 5px;
    color: antiquewhite;
    
}